.imageContainer{
    background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
    opacity: 0.6;
    height: 100vh;
    width: 50%;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}

@media (max-width: 425px) {
    .imageContainer {
        display: none;
    }
  }
@media (max-width: 1200px) {
    .imageContainer {
        width: 30%;
        background-image: url(https://images.unsplash.com/photo-1574012716378-0ca6f4c18c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2017&q=80);
    }
  }