.container {
    display: none;
}

.menu {
    display: none;
}

@media (max-width: 800px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 8rem;
        border-radius: 100px;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        margin: 5rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
        z-index: 15;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0; 
        background-color: white;
        width: 100%; 
        font-size: 6rem; 
        z-index: 11;
    }
    .link, .link:visited{
        margin: 2rem;
        font-weight: 100;
        text-decoration: none;
        color: black;
    }

    .activeLink, .activeLink:visited{
        margin: 2rem;
        font-weight: 100;
        text-decoration: line-through;
        color: #eb8258;
        font-size: 6.5rem;
    }

    .icon {
        font-size: 6rem;
        color: #eb8258;
    }
}