.formContainer {
    padding: 5rem;
}

.headingText {
    color: white;
    font-size: 10rem;
    font-family: 'Quantico', sans-serif;
    padding: 1rem;
    animation: fadeIn 1s;
}

.textLeft {
    text-align: left;
}

.form {
    margin-top: 5rem;
    text-align: left;

    &Group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &Input {
        font-size: 2rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: white;
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

    }

    &Input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#eb8258, .2);
        border-bottom: 3px solid #eb8258;
    }

    &Label {
        color: white;
    }
}

.imageContainer {
    display: none;
}

@media (max-width: 768px) {
    .formInput{
        font-size: 3rem;
    }
    .imageContainer {
        display: block;
        background-image: url(https://images.unsplash.com/photo-1574012716378-0ca6f4c18c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2017&q=80);
        opacity: 0.6;
        height: 40vh;
        width: 100%;
        background-position: center;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        position: fixed;
        bottom: 0;
    }
}
@media (max-width: 425px) {
    .formInput{
        font-size: 3rem;
    }
    .imageContainer {
        display: block;
        background-image: url(https://images.unsplash.com/photo-1574012716378-0ca6f4c18c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2017&q=80);
        opacity: 0.6;
        height: 30vh;
        width: 100%;
        background-position: center;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        position: fixed;
        bottom: 0;
    }
}
@media (max-width: 375px) {
    .formInput{
        font-size: 3.5rem;
    }
    .imageContainer {
        display: block;
        background-image: url(https://images.unsplash.com/photo-1574012716378-0ca6f4c18c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2017&q=80);
        opacity: 0.6;
        height: 50vh;
        width: 100%;
        background-position: center;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        position: fixed;
        bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}