.container{
    background-color: #636464;
    width: 100%;
    padding: 5rem;
}

.headingText{
    color: white;
    font-size: 10rem;
    font-family: 'Quantico', sans-serif;
    text-align: left;
}