.container{
    width: 100%;
    padding: 5rem;
    animation: fadeIn 1s;
}

.headingText{
    color: white;
    font-size: 10rem;
    font-family: 'Quantico', sans-serif;
    text-align: left;
    animation: fadeIn 1s;
}

.image{
    height: 30rem;
    width: 30rem;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-position: center;
}
.selectedImage{
    box-shadow: 0 1.5rem 4rem rgba(#eb8258, 0.5);
}
.descriptionContainer{
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: left;
    animation: fadeIn 1s;
}
.description{
    font-size: 3rem;
    color: white;
}
.imageInFocus{
    width: 90%;
    border-radius: 5px;
    animation: fadeIn 1s;
}

.imageInFocusCaption{
    font-size: 3rem;
    color: white;
    animation: fadeIn 1s;
    margin: 2rem;
}
.imagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}