.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 5rem;
}

.bioPic{
    max-width: 30rem;
    border-radius: 200px;
    animation: fadeIn 1s;
    border: 1px solid #01c0c2;
    float: right;
    margin-left: 5rem;
}

.headingText{
    color: white;
    font-size: 10rem;
    font-family: 'Quantico', sans-serif;
    padding: 1rem;
    animation: fadeIn 1s;
}

.borderBottom{
    border-bottom: 1px solid #eb8258;
}
.borderTop{
    border-top: 1px solid #eb8258;
}

.rightCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s;
}
.leftCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 1s;
    width: 40%;
}

.bioText{
    // width: 80rem;
    line-height: 1.5;
    font-size: 2rem;
    text-align: left;
    // border: 1px solid #eb8258;
    padding: 20px;
    color: white;
}
.marginTopMedium{
    margin-top: 3rem;
}
.marginBottomMedium{
    margin-bottom: 3rem;
}

.text{
    margin-bottom: 2rem;
}

.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}

.skillsContainer{
    text-align: left;
    // border: 1px solid #eb8258;
    li{
        font-size: 2rem;
        color: white;
        margin: 1rem;
        text-decoration: none;
        list-style-type: none;
    }
}


@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftCol{
        flex-direction: column-reverse;
    }
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}